.ms_debug-short{
    height: 100px;
}

.ms_debug-mid{
    height: 200px;
}

.ms_debug-tall{
    height: 500px;
}


.ms_bg-dark-blue{
    background-color: #2c3e50;
}

.ms_bg-light-blue{
    background-color: #304a64;
}

.ms_bg-aquamarine{
    background-color: #4bb9a1;
}

.ms_aquamarine{
    color: #4bb9a1;
}

.ms_fs_13px{
    font-size: 13px;
}

.ms_fs_11px{
    font-size: 11px;
}
.ms_fs_9px{
    font-size: 9px;
}

.ms_no-wrap{
    white-space: nowrap;
}